.Toolbar {
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  border-bottom: 1px solid rgb(0,103,158);
  box-shadow: 1px 1px 8px rgba(0,0,0,0.7);
  height: 50px;
  text-align: left;
  vertical-align: middle;
  background: #00A6FF;
}

.Toolbar > span {
  display: block;
  top: 50%;
  transform: translateY(50%);
  -ms-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -webkit-transform: translateY(50%);
  -o-transform: translateY(50%);
  padding-left: 25px;
  color: white;
  font-size: 16pt;
}
